ALIBABA_CLOUD_ACCESS_KEY_ID=replace_me
ALIBABA_CLOUD_ACCESS_KEY_SECRET=replace_me
ALIBABA_CLOUD_REGION_ID=cn-shanghai
ALIBABA_CLOUD_ENDPOINT=green-cip-vpc.cn-shanghai.aliyuncs.com
MODERATION_SERVICE=post_text_image_detection
MODERATION_PROFILE_SERVICE=profile_text_image_detection
MODERATION_BIZ_TYPE=default
MODERATION_POLL_INTERVAL_SECONDS=2
MODERATION_POLL_MAX_ATTEMPTS=8
MODERATION_STRICT_FAIL_SAFE=true
PORT=8080
